
        <!-- Start Features Area -->
        <div class="features-area pb-70">
            <div class="container">
                <div class="section-title">
                    <h2>{{ self.title }}</h2>
                    <p>{{ self.description }}</p>
                </div>

                
                <div class="row justify-content-center">
                    {% for cd in self.card %} 
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="features-box">
                            <i class="icon bg-7669ff {{ cd.card_icon }}"></i> 
                            <h3>{{ cd.card_title }}</h3>
                            <p>{{ cd.card_desc }}</p>
                        </div>
                    </div>      
                {% endfor %}             
                </div>
               
            </div>
            
        </div>
        <!-- End Features Area -->